<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Using Controllers and Scopes</title>
    <script src="angularjs/angular.js"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.4.1/css/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
            .controller("simpleCtrl", function ($scope) {

                $scope.addresses = {};

                $scope.setAddress = function (type, zip) {
                    console.log("Type: ", type, "Zip: ", zip);
                    $scope.addresses[type] = zip;
                }

                $scope.copyAddress = function () {
                    $scope.shippingZip = $scope.billingZip;
                }
            });
    </script>
</head>
<body ng-controller="simpleCtrl">

    <div class="well">
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="billingZip" />
            <button class="btn btn-primary" ng-click="setAddress('billingZip', billingZip)">
                Save Billing
            </button>
        </div>
    </div>

    <div class="well">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="shippingZip" />
            <button class="btn btn-primary" ng-click="copyAddress()">
                Use Billing
            </button>
            <button class="btn btn-primary" ng-click="setAddress('shippingZip', shippingZip)">
                Save Shipping
            </button>
        </div>
    </div>

</body>
</html>